@page "/"

<h1>МК НАО</h1>
<h5>Материнский (родительский) капитал Ненецкого автономного округа</h5>
<blockquote>Ведение реестра выданных сертификатов на окружной материнский капитал в соответствии со всеми требованиями законодательства</blockquote>

<h3>О Системе</h3>
<p>Автоматизированная система "Материнский (родительский) капитал Ненецкого автономного округа" (МК НАО) разработана специально для
    Департамента ЗТ и СЗН НАО в целях формирования реестра сертификатов по выданным капиталам в качестве оказания одноименной государственной услуги.</p>
<p>Также программа позволяет вести учет распоряжений материнским капиталом и производить индексацию остатка материнского капитала.</p>
<hr>
<h3>Разработка и сопровождение</h3>
<h5>Голговский Александр Владимирович</h5>
<abbr title="Почтовый адрес">Адрес:</abbr>166000, НАО, г.Нарьян-Мар, ул.Смидовича, д.25, каб.1<br />
<abbr title="Рабочая электронная почта">E-mail:</abbr> <a href="mailto:agolgovskiy@adm-nao.ru">agolgovskiy@adm-nao.ru</a><br />
<abbr title="Рабочий телефон">р.тел:</abbr> 8 (818-53) 2-12-51<br />
<hr>
<AuthorizeView>
    <Authorized>
        <p>Вы зарегистрированы в системе с учетной записью <strong>'@context.User.Identity.Name'</strong></p>
        <em>По вопросу получения доступа к дополнительным функциям системы обратитесь к администратору</em>
    </Authorized>
    <NotAuthorized>
        <em><a href="Identity/Account/Login">Войдите</a> в систему или <a href="Identity/Account/Register">зарегистрируйтесь</a></em>
    </NotAuthorized>
</AuthorizeView>

@code
{

}
 
